<!DOCTYPE html>
<html>
<head>
  <title>Kuhsaft</title>
  <%= stylesheet_link_tag    "kuhsaft/application", :media => "all" %>
  <%= javascript_include_tag "kuhsaft/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
